.about-me {
  padding: 10%;
}

.about-me-commentary {
  color: white!important;
}

.skills {
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

a:hover {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

@media (min-width: 0px) {
  .about-me {
    margin: 2% auto;
    display:flex;
    justify-content: space-between;
    width: 100%;
  }

  .about-me-commentary {
    text-align: left;
    width: 100%;
    color: gray;
    padding: 0;
  }

  .about-me-commentary h4{
    font-size: 20px;
    color: gray;
  }

}

@media (min-width: 992px) {
  .about-me {
  }
}

@media (min-width: 1200px) {
  .about-me {
  }
}
