body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.body::-webkit-scrollbar {
  display: none;
}


.banner {
  background-color: #FF6F61;
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.banner-contents {
  padding: 10%;
}

h1 {
  letter-spacing: 2px;
}

p {
  letter-spacing: 2px;
}

.btn-primary {
  margin: 20px 0;
  border-color: white!important;
  background-color: #FF6F61!important;
  border-radius: 0px!important;
}

.btn-primary:hover {
  background-color: white!important;
  color: #FF6F61;
  font-weight: 400;
}
