.footer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8vh;
  color: #eb740f;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3vh;
}

.contact-icons {
  text-decoration: none;
  padding: 20px;
  color: #eb740f;
}

.contact-icons:hover {
  text-decoration: none;
  color: #eb740f;
  opacity: 0.6;
}
