.project-examples {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: none;
}

/*.project-examples > * {
  pointer-events: auto;
}

.project-examples:hover > * {
  transform: scale(0.8);
  opacity: 0.5;
  transition: 0.5s;
}

.project-examples:hover > *:hover {
  transform: scale(1.3);
  opacity: 1;
  transition: 0.5s;
}*/

.project-examples-item {
  position: relative;
  border-radius: 5px;
/*   border: 2px solid white;*/
  margin: 3%;
  color: grey;*/
  transition: 1s;
}

.project-examples-item img {
  height: 200px;
  border-radius: 5px;
  transition: 1s;
  box-shadow: 0px 0px 10px #A3473E;
}

.project-examples-barly {
  position: relative;
  border-radius: 5px;
/*   border: 2px solid white;*/
  margin: 3%;
  color: grey;*/
  transition: 1s;
}

.project-examples-barly img {
  height: 250px;
  border-radius: 5px;
  transition: 1s;
  box-shadow: 0px 0px 10px #A3473E;
}
