body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

h1 {
  margin: 0;
  font-size: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 6px;
}

h2 {
  margin: 0;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

p {
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.contact-icons {
  display: flex;
  justify-content: center;
  background-color: #333;
}

.contact-icons a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.contact-icons a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: #white;
  padding: 20px;
}

img {
  height: 210px;
  width: 30%;
  box-shadow: 0px 0px 10px #CDCDCD;
  margin: 1.5%;
  border-radius: 5px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

