.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.project {
    width: 80%;
    padding: 1% 1% 1% 1%;
    margin: 0% 5%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}


.project-examples {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.project-images {
  position: relative;
  border-radius: 5px;
  border: 2px solid white;
  margin: 3%;
  box-shadow: 0px 0px 10px #CDCDCD;
}

@media (min-width: 1150px) {
  .project-examples-item {
    margin: 1.5%;
  }

  .project-examples-item img {
     height: 200px;
  }

}

@media (min-width: 1500px) {
  .project {
    opacity: 0;
  }

  .project-examples-item img {
     height: 250px;
  }

}

.row {
  align-items: center;
}

